SECRET_KEY=secretkey
username_pg=postgres
password_pg=postgres
database_pg=ecommerce_cms
host_pg=localhost

username_pg_test=postgres
password_pg_test=postgres
database_pg_test=ecommerce_cms_test
host_pg_test=localhost